<div class="landingpage">
<h1 class="text-4xl"> Mau Mau</h1>
<form (ngSubmit)="navigateToLobby()" [formGroup]="landingPageForm" #formDir="ngForm">
<button class="ounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Join Game</button>
<input type="text" [value]="player_alias_control.value" formControlName="player_alias" required placeholder="Name" aria-label="player-alias" class="mt-4 px-4 py-2 border border-gray-400 rounded-md {{ player_alias_control.invalid && player_alias_control.touched ? 'border-red-500' : '' }}"/>
<input type="text" placeholder="Code" aria-label="lobby-code" class="mt-4 px-4 py-2 border border-gray-400 rounded-md"/>
<button class="mt-4 ounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" (click)="navigateToLobby()">Create Game</button>
</form>
</div>